<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head.ejs') %>
</head>

<body>
    <div class="container">
        <%- include('../../layout/navbar') %>
        <div class="row">
            <div class="col-lg-3">
                <%- include('../../layout/menu') %>
            </div>
            <div class="col-lg-9">
                <h1>Trang chủ</h1>
                <a href="/sanpham/danhsach">Vào sản phẩm</a>
            </div>
        </div>
    </div>
    <%- include('../../layout/js.ejs') %>
</body>

</html>