<h1>Thêm người dùng</h1>
<% if(data.errors){%>
    <% data.errors.forEach(err=>{%>
        <div class="alert alert-danger" role="alert">
            <%= err %>
        </div>
    <%});%>
<%}%>
<form action="/nguoidung/them" method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="<%= data.keepData?data.keepData.username:''%>">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= data.keepData?data.keepData.email:''%>">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>