<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include('../layout/head.ejs') %>
</head>

<body>
    <div class="container">
        <%- include('../layout/navbar') %>
        <div class="row">
            <%- include('../layout/menu') %>
            <div class="col-lg-9">
                <h1>Trang sản phẩm</h1>
            </div>
        </div>
    </div>
    <%- include('../layout/js.ejs') %>
</body>

</html>