<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Sản phẩm
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <ul class="list-group">
        <a href="/sanpham/danhsach" class="text-decoration-none"><li class="list-group-item">Danh sách</li></a>
        <a href="/sanpham/them" class="text-decoration-none"><li class="list-group-item">Thêm</li></a>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Dịch vụ
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <ul class="list-group">
        <a href="/dichvu/danhsach" class="text-decoration-none"><li class="list-group-item">Danh sách</li></a>
        <a href="/dichvu/them" class="text-decoration-none"><li class="list-group-item">Thêm</li></a>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Người dùng
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <ul class="list-group">
        <a href="/nguoidung/danhsach" class="text-decoration-none"><li class="list-group-item">Danh sách</li></a>
        <a href="/nguoidung/them" class="text-decoration-none"><li class="list-group-item">Thêm</li></a>
      </ul>
    </div>
  </div>
</div>